/* Load fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    background-color: #258bcd;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 200;

    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body.modal-open {
    overflow: hidden;

    -webkit-filter: blur(1);
    filter: blur(1);
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Cover Styles */
#cover {
    left: 50%;
    position: absolute;
    top: 50%;
    text-align: center;

    transform: translate(-50%, -50%);
}

#cover h1 {
    font-size: 6.333em;
    font-weight: 200;
    margin: 0 0 .25em 0;
}

#cover button {
    background-color: #53a9e1;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 1.333em;
    font-weight: 300;
    padding: .25em 1em;
}

/* Modal Styles */
.pl-modal-overlay {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;

    -webkit-transition: background-color 375ms;
    transition: background-color 375ms;
}

.pl-modal-overlay.modal-open {
    background-color: rgba(0, 0, 0, .65);
}

.pl-modal {
    background-color: transparent;
    left: 50%;
    opacity: 0;
    position: fixed;
    top: 50%;
    width: 500px;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: opacity 375ms;
    -moz-transition: opacity 375ms;
    -ms-transition: opacity 375ms;
    -o-transition: opacity 375ms;
    transition: opacity 375ms;
}

.pl-modal.modal-open {
    opacity: 1;
}

.pl-modal-content {
    background-color: #258bcd;
    color: #fff;
}

.pl-modal-close-button {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}

.pl-modal-close-button:after {
    color: #fff;
    content: 'x';
    font-size: 25px;
    font-weight: 300;
    line-height: 15px;
}


/* Modal Animations */
/* Effect 1: Fade in and scale up */
.pl-modal.effect-1 .pl-modal-content {
    opacity: 0;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);

    -webkit-transition: opacity 375ms, -webkit-transform 375ms;
    -moz-transition: opacity 375ms, -moz-transform 375ms;
    -o-transition: opacity 375ms, -o-transform 375ms;
    transition: opacity 375ms, transform 375ms;
}

.pl-modal.effect-1.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Effect 2: Slide from the right */
.pl-modal.effect-2 .pl-modal-content {
    opacity: 0;

    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);

    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.pl-modal.effect-2.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

/* Effect 3: Slide from the bottom */
.pl-modal.effect-3 .pl-modal-content {
    opacity: 0;

    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pl-modal.effect-3.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

/* Effect 4: Newspaper */
.pl-modal.effect-4 .pl-modal-content {
    opacity: 0;

    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    -o-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.pl-modal.effect-4.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

/* Effect 5: Fall */
.pl-modal.effect-5 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-5 .pl-modal-content {
    opacity: 0;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: translateZ(600px) rotateX(20deg);
    -moz-transform: translateZ(600px) rotateX(20deg);
    -ms-transform: translateZ(600px) rotateX(20deg);
    -o-transform: translateZ(600px) rotateX(20deg);
    transform: translateZ(600px) rotateX(20deg);
}

.pl-modal.effect-5.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translateZ(0px) rotateX(0deg);
    -moz-transform: translateZ(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) rotateX(0deg);
    -o-transform: translateZ(0px) rotateX(0deg);
    transform: translateZ(0px) rotateX(0deg);
}

/* Effect 6: Side fall */
.pl-modal.effect-6 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-6 .pl-modal-content {
    opacity: 0;

    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

    -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
    -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
    -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
    -o-transform: translate(30%) translateZ(600px) rotate(10deg);
    transform: translate(30%) translateZ(600px) rotate(10deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pl-modal.effect-6.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
    -moz-transform: translate(0%) translateZ(0) rotate(0deg);
    -ms-transform: translate(0%) translateZ(0) rotate(0deg);
    -o-transform: translate(0%) translateZ(0) rotate(0deg);
    transform: translate(0%) translateZ(0) rotate(0deg);
}

/* Effect 7: Slide and stick to top */
.pl-modal.effect-7 {
    top: 0;

    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pl-modal.effect-7 .pl-modal-content {
    border-radius: 0 0 3px 3px;
    opacity: 0;

    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.pl-modal.effect-7.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

/* Effect 8: 3D flip horizontal */
.pl-modal.effect-8 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-8 .pl-modal-content {
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: rotateY(-70deg);
    -moz-transform: rotateY(-70deg);
    -ms-transform: rotateY(-70deg);
    -o-transform: rotateY(-70deg);
    transform: rotateY(-70deg);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pl-modal.effect-8.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/* Effect 9: 3D flip vertical */
.pl-modal.effect-9 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-9 .pl-modal-content {
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    -o-transform: rotateX(-70deg);
    transform: rotateX(-70deg);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pl-modal.effect-9.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* Effect 10: 3D sign */
.pl-modal.effect-10 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-10 .pl-modal-content {
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: rotateX(-60deg);
    -moz-transform: rotateX(-60deg);
    -ms-transform: rotateX(-60deg);
    -o-transform: rotateX(-60deg);
    transform: rotateX(-60deg);

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pl-modal.effect-10.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/* Effect 11: Super scaled */
.pl-modal.effect-11 .pl-modal-content {
    opacity: 0;

    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pl-modal.effect-11.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Effect 12: 3D Rotate from bottom */
.pl-modal.effect-12 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-12 .pl-modal-content {
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    -o-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.pl-modal.effect-12.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translateY(0%) rotateX(0deg);
    -moz-transform: translateY(0%) rotateX(0deg);
    -ms-transform: translateY(0%) rotateX(0deg);
    -o-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg);
}

/* Effect 13: 3D Rotate in from left */
.pl-modal.effect-13 {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
}

.pl-modal.effect-13 .pl-modal-content {
    opacity: 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -moz-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -ms-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    -o-transform: translateZ(100px) translateX(-30%) rotateY(90deg);
    transform: translateZ(100px) translateX(-30%) rotateY(90deg);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pl-modal.effect-13.modal-open .pl-modal-content {
    opacity: 1;

    -webkit-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -moz-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -ms-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    -o-transform: translateZ(0px) translateX(0%) rotateY(0deg);
    transform: translateZ(0px) translateX(0%) rotateY(0deg);
}


/* Dummy Template */
.dummy-template h3 {
    background-color: #53a9e1;
    font-size: 45px;
    font-weight: 300;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.dummy-template strong {
    font-weight: 400;
}

.dummy-template > div {
    font-size: 16px;
    padding: 35px 30px;
}


@media (max-width: 767px) {

    .pl-modal {
        max-width: 500px;
        width: 90%;
    }

}