/* Load fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200);

* {
	-webkit-box-sizing: border-box; 
  	-moz-box-sizing: border-box; 
  	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	width: 100%;
}

body {
	background-color: #258bcd;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 200;

    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body.modal-open {
	overflow: hidden;
	
	-webkit-filter: blur(1);
	filter: blur(1);
}


/* Cover Styles */
#cover {
	left: 50%;
	position: absolute;
	top: 50%;
	text-align: center;

	transform: translate(-50%, -50%);
}

#cover h1 { 
	font-size: 6.333em;
	font-weight: 200;
	margin: 0 0 .25em 0;
}

#cover button {
	background-color: #53a9e1;
	border: none;
	color: #fff;
	font-family: inherit;
	font-size: 1.333em;
	font-weight: 300;
	padding: .25em 1em;
}


/* Modal Styles */
.pl-modal-overlay {
	background-color: transparent;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	-webkit-transition: background-color 575ms;
	transition: background-color 575ms;
}

.pl-modal-overlay.modal-open {
	background-color: rgba(0, 0, 0, .65);
}

.pl-modal {
	background-color: #fff;
	height: 200px;
	left: 50%;
	margin-left: -250px;
	margin-top: -100px;
	opacity: 0;
	position: fixed;
	top: 50%;
	width: 500px;

	-webkit-transition: opacity 575ms;
	transition: opacity 575ms;
}

.pl-modal.modal-open {
	opacity: 1;
}

.pl-modal-close-button {
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 15px;
}

.pl-modal-close-button:after {
	color: #258bcd;
	content: 'x';
	font-size: 25px;
	font-weight: 300;
	line-height: 15px;
}

/* Modal Animations */
.pl-modal.zoom-in-and-fade {
	opacity: 0;

	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);

	-webkit-transition: opacity 575ms, -webkit-transform 575ms;
	-moz-transition: opacity 575ms, -moz-transform 575ms;
	-ms-transition: opacity 575ms, -ms-transform 575ms;
	-o-transition: opacity 575ms, -o-transform 575ms;
	transition: opacity 575ms, transform 575ms;
}

.pl-modal.zoom-in-and-fade.modal-open {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


.pl-modal.zoom-out-and-fade {
	opacity: 0;

	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);

	-webkit-transition: opacity 575ms, -webkit-transform 575ms;
	-moz-transition: opacity 575ms, -moz-transform 575ms;
	-ms-transition: opacity 575ms, -ms-transform 575ms;
	-o-transition: opacity 575ms, -o-transform 575ms;
	transition: opacity 575ms, transform 575ms;
}

.pl-modal.zoom-out-and-fade.modal-open {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}


.pl-modal.drop-and-fade {
	margin-top: auto;
	opacity: 0;
	top: 50%;

	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	transform: translateY(-300%);

	-webkit-transition: opacity 575ms, -webkit-transform 575ms;
	-moz-transition: opacity 575ms, -moz-transform 575ms;
	-ms-transition: opacity 575ms, -ms-transform 575ms;
	-o-transition: opacity 575ms, -o-transform 575ms;
	transition: opacity 575ms, transform 575ms;
}

.pl-modal.drop-and-fade.modal-open {
	opacity: 1;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
